// Tags
body {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  color: $text-color;
  background-color: $bg;
  margin-bottom: 0.5rem;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: $text-color;

  &:visited {
    color: $text-visited-color;
  }
}

h1 {
  color: $brand-color;
  font-size: 1.3em;
  margin: 0;
}

h2 {
  font-size: 1em;
}

nav {
  background-color: $nav-bg;
  font-size: 1.1em;
  border: $border;

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

    li {
      float: none;
      border-bottom: $border;

      &:last-child {
        border-bottom: none;
      }

      a {
        display: block;
        line-height: $cap-height;
        text-align: center;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: $nav-text-color;
        text-decoration: none;

        &:visited {
          color: $nav-text-color;
        }

        &:hover {
          background-color: $nav-hover-bg;
          color: $nav-text-hover;
        }
      }
    }
  }
}

main {
  font-size: 1em;
  padding: 0.5rem;
  margin: 0;
  border-right: $border;
  border-left: $border;
}

form {
  margin: auto;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: .5rem 0;
  box-sizing: border-box;
  border: $form-border;
  border-radius: .25rem;
  background-color: $form-bg;

  &:focus {
    border: $form-border-focus;
  }
}

input[type="submit"],
input[type="reset"] {
  background-color: $form-button-bg;
  border: none;
  color: $form-button-text;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: .25rem .125rem;
  cursor: pointer;

  &:hover {
    background-color: $form-button-bg-hover;
    color: $form-button-text-hover;
  }
}

textarea {
  height: 10rem;
  resize: none;
}