// Base variables
$bg: #ffffff;
$brand-color: #ff9900;
$text-color: #000000;
$text-visited-color: #808080;
$border-color: #000000;
$border-size: 1px;
$border-style: solid;
$border: $border-size $border-style $border-color;

// Nav variables
$nav-bg: #999999;
$nav-hover-bg: #cccccc;
$nav-text-color: #ffffff;
$nav-text-hover: #999999;

// Cap variables
$cap-height: 2.0rem;

// Media break points
$small: 600px;
$large: 992px;