// Base variables
$bg: #ffffff;
$brand-color: #ff9900;
$text-color: #000000;
$text-visited-color: #808080;
$border-color: #000000;
$border-size: 1px;
$border-style: solid;
$border: $border-size $border-style $border-color;

// Nav variables
$nav-bg: #999999;
$nav-hover-bg: #cccccc;
$nav-text-color: #ffffff;
$nav-text-hover: #999999;

// Form variables
$form-bg: #f8f8f8;
$form-button-bg: #999999;
$form-button-text: #ffffff;
$form-button-bg-hover: #cccccc;
$form-button-text-hover: #999999;
$form-border-color: #cccccc;
$form-border-focus-color: #555;
$form-border-focus-size: 3px;
$form-border-size: 2px;
$form-border-style: solid;
$form-border: $form-border-size $form-border-style $form-border-color;
$form-border-focus: $form-border-focus-size $form-border-style $form-border-focus-color;

// Cap variables
$cap-height: 2.0rem;

// Media break points
$small: 600px;
$large: 992px;
